@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	background-image:url(../img/backgroundpaper.jpg);
	}
#nav a {
	text-decoration: none;
	color: #385028;
	font-family: 微軟正黑體;
}
.modal-content{
	background-color:rgba(50,67,33,0.8);
	color:white;
	padding:20px 0;
}
.modal-dialog{
	width:300px;
}
#all{
	width:100%;
	height:auto;
	}
#top{
	width:1026px;
	height:585px;
	}
#header{
	width:1026px;
	height:240px;
	}
#logoUP{
	width:272px;
	height:97px;
	background-image:url(../img/logo.png);
	margin-top:25px;
	margin-left:140px;
	float:left;
	}
#nav{
	width:1026px;
	height:40px;
	}
#navgap01{
	float:left;
	width:2px;
	height:25px;
	background-color:#A43E24;
	margin-left:616px;
	}
#aboutusT{
	float:left;
	font-size:20px;
	font-family:微軟正黑體;
	color:black;
	margin-left:20px;
	}
#navgap02{
	float:left;
	width:2px;
	height:25px;
	background-color:#A43E24;
	margin-left:20px;
	}
#menuT{
	float:left;
	font-size:20px;
	font-family:微軟正黑體;
	color:black;
	margin-left:20px;}
#navgap03{
	float:left;
	width:2px;
	height:25px;
	background-color:#A43E24;
	margin-left:20px;
	}
#shopT{
	float:left;
	font-size:20px;
	font-family:微軟正黑體;
	color:black;
	margin-left:20px;}
#navgap04{
	float:left;
	width:2px;
	height:25px;
	background-color:#A43E24;
	margin-left:20px;
	}
#slider{
	width:1026px;
	height:345px;
	}
#pic1{
	width:1026px;
	height:345px;
	background-image:url(../img/slider01.jpg)}
#pic2{
	width:1026px;
	height:345px;
	background-image:url(../img/slider02.jpg)}
#pic3{
	width:1026px;
	height:345px;
	background-image:url(../img/slider03.jpg)}
#aboutus{
	width:1026px;
	height:505px;
	}
#aboutustitle{
	width:513px;
	height:135px;
	background-image:url(../img/aboutustitle.png);
	float:left;}
#aboutuspic{
	width:513px;
	height:370px;
	background-image:url(../img/aboutuspic.jpg);
	background-size: cover;
	float:left;
	clear:left;}
#aboutustextbox{
	width:513px;
	height:370px;
	background-color:#385028;
	float:right;
	font-size:24px;
	color:white;
	font-family:微軟正黑體;}
#menu{
	width:1026px;
	height:1190px;
	}
#menutitle{
	width:513px;
	height:135px;
	background-image:url(../img/menutitle.png);
	float:left;
	}
#maindish{
	width:700px;
	height:515px;
	background-image:url(../img/menu001.jpg);
	background-size: cover;
	margin-left:0;
	float:left;}
#maindish:hover {
	opacity:0.75;
	}
#ice{
	width:308px;
	height:566px;
	background-image:url(../img/menu002.jpg);
	background-size: cover;
	margin-top:-50px;
	margin-right:0;
	float:right;}
#ice:hover {
	opacity:0.75;
	}
#drinks{
	width:370px;
	height:515px;
	background-image:url(../img/menu003.jpg);
	background-size: cover;
	margin-top:24px;
	margin-bottom:0px;
	float:left;
	}
#drinks:hover {
	opacity:0.75;
	}
#desserts{
	width:631px;
	height:515px;
	background-image:url(../img/menu004.jpg);
	background-size: cover;
	margin-top:24px;
	float:right;}
#desserts:hover {
	opacity:0.75;
	}
#shop{
	width:1026px;
	height:831px;
	}
#shoptitle{
	width:513px;
	height:135px;
	background-image:url(../img/shoptitle.png);
	margin-right:500px;
	}
#shopname01{
	width:510px;
	height:35px;
	background-image:url(../img/shopname01.png);
	background-size:cover;
	float:left;}
#shopname02{
	width:510px;
	height:35px;
	background-image:url(../img/shopname02.png);
	background-size:cover;
	float:left;}
#shopbox01{
	width:510px;
	height:300px;
	background-image:url(../img/shop01.jpg);
	background-size: cover;
	margin-left:0;
	float:left;}
#shopbox02{
	width:510px;
	height:300px;
	background-image:url(../img/shop02.jpg);
	background-size: cover;
	margin-right:0;
	float:right;}
#shopname03{
	width:510px;
	height:60px;
	background-image:url(../img/shopname03.png);
	background-size:cover;
	float:left;}
#shopname04{
	width:510px;
	height:60px;
	background-image:url(../img/shopname04.png);
	background-size:cover;
	float:left;}
#shopbox03{
	width:510px;
	height:300px;
	background-image:url(../img/shop03.jpg);
	background-size: cover;
	margin-left:0;
	float:left;}
#shopbox04{
	width:510px;
	height:300px;
	background-image:url(../img/shop04.jpg);
	background-size: cover;
	margin-right:0;
	float:right;}
#shopbox01:hover {
	opacity:0.75;
	}
#shopbox02:hover {
	opacity:0.75;
	}
#shopbox03:hover {
	opacity:0.75;
	}
#shopbox04:hover {
	opacity:0.75;
	}
#info{
	width:1026px;
	height:222px;
	background-color:#9BB192;
	margin-top:80px;
	}
#infoR{
	width:501px;
	height:202px;
	float:left;
	}
#homebox{
	width:512px;
	height:70px;
	float:left;
	}
#homepic{
	width:35px;
	height:35px;
	background-image:url(../img/home.png);
	background-size:cover;
	float:left;
	margin-left:70px;
	margin-top:35px;
	}
#address{
	font-size:18px;
	font-family:微軟正黑體;
	color:white;
	float:left;
	margin-left:8px;
	margin-top:50px;
	}
#mailbox{
	width:512px;
	height:75px;
	float:left;}
#mailpic{
	width:35px;
	height:35px;
	background-image:url(../img/mail.png);
	background-size:cover;
	float:left;
	margin-left:70px;
	margin-top:35px;
	}
#mailaddress{
	font-size:18px;
	font-family:微軟正黑體;
	color:white;
	float:left;
	margin-left:8px;
	margin-top:45px;
	}
#phonebox{
	width:512px;
	height:56px;
	float:left;
	}
#phonepic{
	width:35px;
	height:35px;
	background-image:url(../img/phone.png);
	background-size:cover;
	float:left;
	margin-left:70px;
	margin-top:20px;
	}
#phonenumber{
	font-size:18px;
	font-family:微軟正黑體;
	color:white;
	float:left;
	margin-left:8px;
	margin-top:30px;}
#infoL{
	width: 512px;
	height: 222px;
	float: right;
	}
#infoline{
	width:2px;
	height: 163px;
	background-color: white;
	float: left;
	margin-top: 25px;
}
#logoDOWN{
	width:272px;
	height:97px;
	background-image:url(../img/logo.png);
	margin-top: 50px;
}